.sign__link{
    margin: 0 0 0 5px;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.sign__link:hover {
    opacity: .6;
}