.header__signout {
    max-height: 22px;
    color:  #A9A9A9;;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 6px 0 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header__signout:hover {
    opacity: .6;
}